.top-blue-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.top-blue-button:hover {
    background-color: #0056b3;
}
.arrow-container {
    display: flex;
    align-items: center;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000;
}

.left-arrow:hover, .right-arrow:hover {
    background-color: #007bff;
    color: black;
    justify-content: space-between;
}